In [1]:
import pandas as pd

In [2]:
ages=[20,25,22,27,32,23,47,20,37,67,32,33]
bins = [18,25,35,50]
cats = pd.cut(ages,bins)

In [3]:
cats.labels

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'labels' is deprecated. Use 'codes' instead
  """Entry point for launching an IPython kernel.

array([ 0,  0,  0,  1,  1,  0,  2,  0,  2, -1,  1,  1], dtype=int8)

In [4]:
cats.codes

array([ 0,  0,  0,  1,  1,  0,  2,  0,  2, -1,  1,  1], dtype=int8)

In [5]:
cats.levels

AttributeError: 'Categorical' object has no attribute 'levels'

In [6]:
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (25, 35], ..., (18, 25], (35, 50], NaN, (25, 35], (25, 35]]
Length: 12
Categories (3, interval[int64]): [(18, 25] < (25, 35] < (35, 50]]

In [7]:
help(pd.cut)

Help on function cut in module pandas.core.reshape.tile:

cut(x, bins, right=True, labels=None, retbins=False, precision=3, include_lowest=False)
    Return indices of half-open bins to which each value of `x` belongs.

    Parameters
    ----------
    x : array-like
        Input array to be binned. It has to be 1-dimensional.
    bins : int, sequence of scalars, or IntervalIndex
        If `bins` is an int, it defines the number of equal-width bins in the
        range of `x`. However, in this case, the range of `x` is extended
        by .1% on each side to include the min or max values of `x`. If
        `bins` is a sequence it defines the bin edges allowing for
        non-uniform bin width. No extension of the range of `x` is done in
        this case.
    right : bool, optional
        Indicates whether the bins include the rightmost edge or not. If
        right == True (the default), then the bins [1,2,3,4] indicate
        (1,2], (2,3], (3,4].
    labels : array or boolean, default None
        Used as labels for the resulting bins. Must be of the same length as
        the resulting bins. If False, return only integer indicators of the
        bins.
    retbins : bool, optional
        Whether to return the bins or not. Can be useful if bins is given
        as a scalar.
    precision : int, optional
        The precision at which to store and display the bins labels
    include_lowest : bool, optional
        Whether the first interval should be left-inclusive or not.

    Returns
    -------
    out : Categorical or Series or array of integers if labels is False
        The return type (Categorical or Series) depends on the input: a Series
        of type category if input is a Series else Categorical. Bins are
        represented as categories when categorical data is returned.
    bins : ndarray of floats
        Returned only if `retbins` is True.

    Notes
    -----
    The `cut` function can be useful for going from a continuous variable to
    a categorical variable. For example, `cut` could convert ages to groups
    of age ranges.

    Any NA values will be NA in the result.  Out of bounds values will be NA in
    the resulting Categorical object


    Examples
    --------
    >>> pd.cut(np.array([.2, 1.4, 2.5, 6.2, 9.7, 2.1]), 3, retbins=True)
    ([(0.191, 3.367], (0.191, 3.367], (0.191, 3.367], (3.367, 6.533],
      (6.533, 9.7], (0.191, 3.367]]
    Categories (3, object): [(0.191, 3.367] < (3.367, 6.533] < (6.533, 9.7]],
    array([ 0.1905    ,  3.36666667,  6.53333333,  9.7       ]))

    >>> pd.cut(np.array([.2, 1.4, 2.5, 6.2, 9.7, 2.1]), 3,
               labels=["good","medium","bad"])
    [good, good, good, medium, bad, good]
    Categories (3, object): [good < medium < bad]

    >>> pd.cut(np.ones(5), 4, labels=False)
    array([1, 1, 1, 1, 1], dtype=int64)

In [8]:
np.random.seed(1234)

NameError: name 'np' is not defined

In [9]:
import numpy as np

In [10]:
np.random.seed(1234)

In [13]:
data = pd.DataFrame(np.random.randn(100,4))

In [15]:
data.describe()

                0           1           2           3
count  100.000000  100.000000  100.000000  100.000000
mean     0.109025   -0.036272    0.151710    0.016248
std      0.942568    1.101155    0.865254    0.964031
min     -2.147855   -3.563517   -2.397504   -2.074978
25%     -0.423570   -0.687307   -0.405337   -0.576557
50%      0.182533   -0.058971    0.224475   -0.006317
75%      0.756474    0.685152    0.701321    0.484905
max      2.481458    2.763844    2.030604    2.637791

In [17]:
data

           0         1         2         3
0   0.471435 -1.190976  1.432707 -0.312652
1  -0.720589  0.887163  0.859588 -0.636524
2   0.015696 -2.242685  1.150036  0.991946
3   0.953324 -2.021255 -0.334077  0.002118
4   0.405453  0.289092  1.321158 -1.546906
5  -0.202646 -0.655969  0.193421  0.553439
6   1.318152 -0.469305  0.675554 -1.817027
7  -0.183109  1.058969 -0.397840  0.337438
8   1.047579  1.045938  0.863717 -0.122092
9   0.124713 -0.322795  0.841675  2.390961
10  0.076200 -0.566446  0.036142 -2.074978
11  0.247792 -0.897157 -0.136795  0.018289
12  0.755414  0.215269  0.841009 -1.445810
13 -1.401973 -0.100918 -0.548242 -0.144620
14  0.354020 -0.035513  0.565738  1.545659
15 -0.974236 -0.070345  0.307969 -0.208499
16  1.033801 -2.400454  2.030604 -1.142631
17  0.211883  0.704721 -0.785435  0.462060
18  0.704228  0.523508 -0.926254  2.007843
19  0.226963 -1.152659  0.631979  0.039513
20  0.464392 -3.563517  1.321106  0.152631
21  0.164530 -0.430096  0.767369  0.984920
22  0.270836  1.391986  0.079842 -0.399965
23 -1.027851 -0.584718  0.816594 -0.081947
24 -0.344766  0.528288 -1.068989 -0.511881
25  0.291205  0.566534  0.503592  0.285296
26  0.484288  1.363482 -0.781105 -0.468018
27  1.224574 -1.281108  0.875476 -1.710715
28 -0.450765  0.749164 -0.203933 -0.182175
29  0.680656 -1.818499  0.047072  0.394844
..       ...       ...       ...       ...
70 -0.490484 -0.374437 -2.397504  1.541030
71  0.063085 -0.284441 -1.265601  1.787980
72 -0.354509 -0.104761  0.386254  0.822775
73 -0.683790  1.057203  0.031880  1.343182
74 -0.050540 -0.364010 -1.553342 -0.319298
75  0.527046  0.711112 -0.217545  2.637791
76 -1.742138 -0.094435  1.431184  0.592758
77  0.170297 -1.751706  0.288581 -0.542580
78  0.171602  0.982818 -0.025349 -0.287552
79  0.924443 -0.061246 -0.731033 -1.022774
80  0.995993  0.955558  0.713841  0.133371
81 -0.807038 -0.342011  1.908780  0.155923
82  0.759653 -0.423006  0.181673  0.274493
83  0.067912 -0.036983 -0.170801  0.266973
84  1.382997 -0.022461  0.131395  0.434437
85  0.264534  0.565658  0.585084 -0.174298
86 -1.071369 -0.048461 -0.845290  0.415101
87  0.425531 -0.980724 -0.427826  1.498570
88 -0.360157 -0.458240 -1.337968 -0.041387
89  0.821048  2.097801  1.282933  0.270338
90  1.003140  1.078674  0.340753 -0.198075
91  2.481458  1.385255 -1.154601 -1.268069
92  0.607862 -1.080096 -0.611282  0.102035
93 -1.436574  0.210717 -0.896904 -1.724393
94  1.792339 -1.312713  0.555877 -0.681881
95  1.572743 -0.104652  1.850398 -0.333350
96  0.193464 -0.496745  1.032723 -1.739804
97 -0.755862 -0.881112  0.393892 -0.950026
98  0.332507  0.528944 -1.120521  0.048264
99  0.061988 -1.027516 -0.238335  1.932178

[100 rows x 4 columns]

In [18]:
data[3]

0    -0.312652
1    -0.636524
2     0.991946
3     0.002118
4    -1.546906
5     0.553439
6    -1.817027
7     0.337438
8    -0.122092
9     2.390961
10   -2.074978
11    0.018289
12   -1.445810
13   -0.144620
14    1.545659
15   -0.208499
16   -1.142631
17    0.462060
18    2.007843
19    0.039513
20    0.152631
21    0.984920
22   -0.399965
23   -0.081947
24   -0.511881
25    0.285296
26   -0.468018
27   -1.710715
28   -0.182175
29    0.394844
        ...
70    1.541030
71    1.787980
72    0.822775
73    1.343182
74   -0.319298
75    2.637791
76    0.592758
77   -0.542580
78   -0.287552
79   -1.022774
80    0.133371
81    0.155923
82    0.274493
83    0.266973
84    0.434437
85   -0.174298
86    0.415101
87    1.498570
88   -0.041387
89    0.270338
90   -0.198075
91   -1.268069
92    0.102035
93   -1.724393
94   -0.681881
95   -0.333350
96   -1.739804
97   -0.950026
98    0.048264
99    1.932178
Name: 3, Length: 100, dtype: float64

In [19]:
col = data[3]

In [23]:
data2 = col[np.abs(col)>1]

In [32]:
data3 = data[(np.abs(data)>1).any(1)]

In [30]:
data3

           0         1         2         3
0   0.471435 -1.190976  1.432707 -0.312652
2   0.015696 -2.242685  1.150036  0.991946
3   0.953324 -2.021255 -0.334077  0.002118
4   0.405453  0.289092  1.321158 -1.546906
6   1.318152 -0.469305  0.675554 -1.817027
7  -0.183109  1.058969 -0.397840  0.337438
8   1.047579  1.045938  0.863717 -0.122092
9   0.124713 -0.322795  0.841675  2.390961
10  0.076200 -0.566446  0.036142 -2.074978
12  0.755414  0.215269  0.841009 -1.445810
13 -1.401973 -0.100918 -0.548242 -0.144620
14  0.354020 -0.035513  0.565738  1.545659
16  1.033801 -2.400454  2.030604 -1.142631
18  0.704228  0.523508 -0.926254  2.007843
19  0.226963 -1.152659  0.631979  0.039513
20  0.464392 -3.563517  1.321106  0.152631
22  0.270836  1.391986  0.079842 -0.399965
23 -1.027851 -0.584718  0.816594 -0.081947
24 -0.344766  0.528288 -1.068989 -0.511881
26  0.484288  1.363482 -0.781105 -0.468018
27  1.224574 -1.281108  0.875476 -1.710715
29  0.680656 -1.818499  0.047072  0.394844
31 -1.703013  0.393711 -0.479324 -0.299016
33  0.816127  1.893534  0.639633 -0.962029
34 -2.085266  1.930247 -1.735349  1.210384
36  1.176812 -0.524336  0.700908  0.984188
37 -0.121728  2.365769  0.496143  0.796595
38 -0.474021 -0.056696  1.357797 -0.804834
39 -2.123620 -0.333502 -0.886719  0.334198
43 -0.938153 -1.239072  0.139683 -0.223019
..       ...       ...       ...       ...
59  0.581073  2.763844  0.399325  0.668488
60 -0.275774  0.500483  0.863065 -1.051628
61 -1.392054  1.153922  1.181944  0.391371
62 -0.881047  0.295080  1.863801 -1.712274
63 -1.407085  0.126781  0.003760 -1.268994
65  1.529401  0.205455  0.313013  0.866521
66  0.299071  1.076541  0.363177  1.893680
70 -0.490484 -0.374437 -2.397504  1.541030
71  0.063085 -0.284441 -1.265601  1.787980
73 -0.683790  1.057203  0.031880  1.343182
74 -0.050540 -0.364010 -1.553342 -0.319298
75  0.527046  0.711112 -0.217545  2.637791
76 -1.742138 -0.094435  1.431184  0.592758
77  0.170297 -1.751706  0.288581 -0.542580
79  0.924443 -0.061246 -0.731033 -1.022774
81 -0.807038 -0.342011  1.908780  0.155923
84  1.382997 -0.022461  0.131395  0.434437
86 -1.071369 -0.048461 -0.845290  0.415101
87  0.425531 -0.980724 -0.427826  1.498570
88 -0.360157 -0.458240 -1.337968 -0.041387
89  0.821048  2.097801  1.282933  0.270338
90  1.003140  1.078674  0.340753 -0.198075
91  2.481458  1.385255 -1.154601 -1.268069
92  0.607862 -1.080096 -0.611282  0.102035
93 -1.436574  0.210717 -0.896904 -1.724393
94  1.792339 -1.312713  0.555877 -0.681881
95  1.572743 -0.104652  1.850398 -0.333350
96  0.193464 -0.496745  1.032723 -1.739804
98  0.332507  0.528944 -1.120521  0.048264
99  0.061988 -1.027516 -0.238335  1.932178

[73 rows x 4 columns]

In [63]:
A = np.random.randint(0, 5, (5, 5))

In [37]:
B = np.random.randint(0, 10, (10, 10))

In [49]:
def f_df(A, B):
    out = np.zeros((3, 3), int)
    np.add.at(out, (A.ravel(), B.ravel()), 1)
    return out

In [39]:
def f_pp(A, B):
    return np.bincount(np.ravel_multi_index((A, B), (10, 10)).ravel(), minlength=100).reshape(10, 10)

In [40]:
np.all(f_df(A, B) == f_pp(A, B))

True

In [41]:
f_df(A, B)

array([[1, 1, 0, 2, 0, 2, 3, 0, 1, 0],
       [0, 1, 0, 1, 4, 2, 0, 0, 1, 0],
       [3, 1, 2, 0, 2, 0, 0, 0, 1, 1],
       [1, 2, 3, 1, 1, 0, 3, 0, 0, 0],
       [1, 0, 0, 0, 3, 2, 0, 0, 3, 0],
       [1, 3, 2, 0, 0, 1, 1, 2, 1, 2],
       [1, 0, 0, 0, 1, 1, 0, 0, 1, 0],
       [1, 0, 0, 1, 1, 0, 2, 1, 2, 0],
       [4, 2, 0, 0, 2, 0, 3, 0, 2, 2],
       [3, 0, 0, 3, 0, 0, 3, 2, 0, 0]])

In [42]:
f_pp(A, B)

array([[1, 1, 0, 2, 0, 2, 3, 0, 1, 0],
       [0, 1, 0, 1, 4, 2, 0, 0, 1, 0],
       [3, 1, 2, 0, 2, 0, 0, 0, 1, 1],
       [1, 2, 3, 1, 1, 0, 3, 0, 0, 0],
       [1, 0, 0, 0, 3, 2, 0, 0, 3, 0],
       [1, 3, 2, 0, 0, 1, 1, 2, 1, 2],
       [1, 0, 0, 0, 1, 1, 0, 0, 1, 0],
       [1, 0, 0, 1, 1, 0, 2, 1, 2, 0],
       [4, 2, 0, 0, 2, 0, 3, 0, 2, 2],
       [3, 0, 0, 3, 0, 0, 3, 2, 0, 0]], dtype=int64)

In [47]:
np.repeat('f_df(A, B)', 1000)

TypeError: repeat() got an unexpected keyword argument 'number'

In [52]:
a = np.array([[1,2,3],[3,1,2],[2,1,3]])
b = np.array([[3,2,1],[1,2,3],[3,2,1]])

In [56]:
f_df(A, B)

IndexError: index 8 is out of bounds for axis 0 with size 3

In [54]:
A

array([[8, 3, 7, 9, 5, 7, 2, 9, 9, 9],
       [4, 4, 2, 6, 1, 9, 2, 4, 3, 5],
       [9, 0, 9, 6, 0, 3, 0, 5, 8, 5],
       [0, 2, 6, 8, 0, 4, 4, 8, 8, 0],
       [2, 9, 8, 8, 7, 0, 1, 1, 4, 3],
       [8, 7, 1, 8, 5, 3, 7, 8, 1, 5],
       [6, 2, 8, 4, 5, 7, 5, 2, 1, 0],
       [3, 8, 5, 0, 9, 3, 3, 3, 2, 7],
       [5, 2, 5, 0, 7, 4, 8, 1, 8, 1],
       [9, 2, 5, 3, 4, 8, 1, 5, 3, 9]])

In [55]:
a

array([[1, 2, 3],
       [3, 1, 2],
       [2, 1, 3]])

In [57]:
def f_df(A, B):
    out = np.zeros((10, 10), int)
    np.add.at(out, (A.ravel(), B.ravel()), 1)
    return out

In [58]:
f_df(a, b)

IndexError: index 3 is out of bounds for axis 0 with size 3

In [61]:
def f_pp(A, B):
...     return np.bincount(np.ravel_multi_index((A, B), (10, 10)).ravel(), minlength=100).reshape(10, 10)

In [62]:
f_pp(A,B)

array([[1, 1, 0, 2, 0, 2, 3, 0, 1, 0],
       [0, 1, 0, 1, 4, 2, 0, 0, 1, 0],
       [3, 1, 2, 0, 2, 0, 0, 0, 1, 1],
       [1, 2, 3, 1, 1, 0, 3, 0, 0, 0],
       [1, 0, 0, 0, 3, 2, 0, 0, 3, 0],
       [1, 3, 2, 0, 0, 1, 1, 2, 1, 2],
       [1, 0, 0, 0, 1, 1, 0, 0, 1, 0],
       [1, 0, 0, 1, 1, 0, 2, 1, 2, 0],
       [4, 2, 0, 0, 2, 0, 3, 0, 2, 2],
       [3, 0, 0, 3, 0, 0, 3, 2, 0, 0]], dtype=int64)

In [64]:
A = np.random.randint(0, 5, (5, 5))

In [65]:
B = np.random.randint(0, 5, (5, 5))

In [66]:
A

array([[2, 2, 2, 1, 3],
       [2, 0, 2, 2, 2],
       [1, 2, 0, 4, 0],
       [2, 3, 3, 2, 0],
       [4, 3, 4, 0, 0]])

In [67]:
B

array([[4, 0, 1, 2, 3],
       [3, 1, 3, 3, 2],
       [0, 0, 4, 0, 2],
       [3, 3, 2, 3, 4],
       [1, 0, 0, 3, 0]])

In [68]:
f_pp(A,B)

array([[1, 1, 1, 1, 2, 0, 0, 0, 0, 0],
       [1, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [2, 1, 1, 5, 1, 0, 0, 0, 0, 0],
       [1, 0, 1, 2, 0, 0, 0, 0, 0, 0],
       [2, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

In [87]:
def f_pp(A, B):
...     return np.bincount(np.ravel_multi_index((A, B), (4, 4)).ravel(), minlength=16).reshape(4, 4)

In [105]:
f_pp(a,b)

array([[0, 0, 0, 0],
       [0, 0, 2, 1],
       [0, 0, 1, 2],
       [0, 3, 0, 0]], dtype=int64)

In [111]:
b1 = b.astype(np.float32)

In [112]:
b1[0][0] = np.nan

In [79]:
def f_pp(A, B,):
	return np.bincount(np.ravel_multi_index((A, B), (3, 3)).ravel(), minlength=np.square(3)).reshape(3, 3)

In [76]:
f_pp(a,b,NumOfClass = 3)

ValueError: invalid entry in coordinates array

In [80]:
f_pp(a,b)

ValueError: invalid entry in coordinates array

In [106]:
a1

array([[nan, 2, 3],
       [3, 1, 2],
       [2, 1, 3]], dtype=object)

In [107]:
a1[np.isnan(a1)] = 0

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [108]:
np.isnan(a)

array([[False, False, False],
       [False, False, False],
       [False, False, False]], dtype=bool)

In [109]:
a1

array([[nan, 2, 3],
       [3, 1, 2],
       [2, 1, 3]], dtype=object)

In [110]:
np.full((3,3,),1)

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

In [113]:
b1

array([[ nan,   2.,   1.],
       [  1.,   2.,   3.],
       [  3.,   2.,   1.]], dtype=float32)

In [114]:
b1[np.isnan(b1)] = 0

In [115]:
b1

array([[ 0.,  2.,  1.],
       [ 1.,  2.,  3.],
       [ 3.,  2.,  1.]], dtype=float32)

In [117]:
print(range(4))

range(0, 4)

In [118]:
for i in range(4):
    print(i)

0
1
2
3

In [121]:
str(range(1,3+1)) + 'class'

'range(1, 4)class'

In [123]:
def f_pp(A, B, m):
	A[np.isnan(A)] = 0
	B[np.isnan(B)] = 0
	out = np.bincount(np.ravel_multi_index((A, B), (m+1, m+1)).ravel(), minlength=np.square(m+1)).reshape(m+1, m+1)
	out = pd.DataFrame(out[1:,1:],index = range(1,m+1),columns=range(1,m+1)).add_prefix('cls_')
	out = out.set_index("cls_" + out.index.astype(str))
	

	return out





if __name__ == '__main__':
	a = np.array([[3,2,1],[1,2,2],[2,2,1]])
	b = np.array([[3,2,1],[1,2,3],[3,2,1]])
	m = f_pp(a,b,3)

In [124]:
m

       cls_1  cls_2  cls_3
cls_1      3      0      0
cls_2      0      3      2
cls_3      0      0      1

In [125]:
m.apply(np.sum)

cls_1    3
cls_2    3
cls_3    3
dtype: int64

In [126]:
m.apply(np.sum,axis = 1)

cls_1    3
cls_2    5
cls_3    1
dtype: int64

In [129]:
m.append(m.apply(np.sum,axis = 0),ignore_index=True)

   cls_1  cls_2  cls_3
0      3      0      0
1      0      3      2
2      0      0      1
3      3      3      3

In [130]:
def f_pp(A, B, m):
	A[np.isnan(A)] = 0
	B[np.isnan(B)] = 0
	out = np.bincount(np.ravel_multi_index((A, B), (m+1, m+1)).ravel(), minlength=np.square(m+1)).reshape(m+1, m+1)
	#out = pd.DataFrame(out[1:,1:],index = range(1,m+1),columns=range(1,m+1)).add_prefix('cls_')
	#out = out.set_index("cls_" + out.index.astype(str))
	

	return out[1:,1:]





if __name__ == '__main__':
	a = np.array([[3,2,1],[1,2,2],[2,2,1]])
	b = np.array([[3,2,1],[1,2,3],[3,2,1]])
	result = f_pp(a,b,3)
	print(result)

[[3 0 0]
 [0 3 2]
 [0 0 1]]

In [138]:
col_sum = result.sum(0)
col_sum

array([3, 3, 3], dtype=int64)

In [136]:
result[3,:] = 4

IndexError: index 3 is out of bounds for axis 0 with size 3

In [157]:
row_sum = result.sum(1)
row_sum = row_sum.reshape((1,3))
row_sum

array([[3, 5, 1]], dtype=int64)

In [140]:
result.concatenate((col_sum,axis = 0)

AttributeError: 'numpy.ndarray' object has no attribute 'concatenate'

In [160]:
np.concatenate((result,row_sum.T),axis = 1)

array([[3, 0, 0, 3],
       [0, 3, 2, 5],
       [0, 0, 1, 1]], dtype=int64)

In [144]:
result.shape

(3, 3)

In [145]:
row_sum.shape

(3,)

In [147]:
type(result)

numpy.ndarray

In [151]:
a2 = np.array([[5, 6]])

In [152]:
a2.shape

(1, 2)

In [161]:
a

array([[3, 2, 1],
       [1, 2, 2],
       [2, 2, 1]])

In [162]:
b

array([[3, 2, 1],
       [1, 2, 3],
       [3, 2, 1]])

In [163]:
from sklearn.metrics import cohen_kappa_score

In [164]:
cohen_kappa_score(a, b)

ValueError: multiclass-multioutput is not supported

In [165]:
a.reval()

AttributeError: 'numpy.ndarray' object has no attribute 'reval'

In [170]:
x = np.array([[1, 5, 3], [4, 5, 6]])

In [171]:
x.shape((3,2))

TypeError: 'tuple' object is not callable

In [172]:
x

array([[1, 5, 3],
       [4, 5, 6]])

In [173]:
np.ravel(x)

array([1, 5, 3, 4, 5, 6])

In [176]:
aV = np.ravel(a)

In [183]:
aV = np.array([30, 20, 10, 10, 20, 30, 30, 20, 10])

In [178]:
bV = np.ravel(b)

In [179]:
bV

array([3, 2, 1, 1, 2, 3, 3, 2, 1])

In [233]:
cohen_kappa_score(np.ravel(a), np.ravel(b))

0.66666666666666674

In [215]:
index = ['cls_'+ str(i) for i in range(1,3+1)]

In [216]:
index = index.append('col_tot')

In [217]:
index

In [231]:
idx = ['cls_'+ str(i) for i in range(1, 3+1)]

In [214]:
type(idx)

list

In [230]:
print(idx2)

None

In [229]:
idx2 = idx.append('a')

In [224]:
idx

In [232]:
idx

['cls_1', 'cls_2', 'cls_3']

In [226]:
print(idx)

None

In [1]:
indices = ['cls_'+ str(i) for i in range(1,3+1)]

In [2]:
indices.append('col_tot')

In [3]:
indices

['cls_1', 'cls_2', 'cls_3', 'col_tot']

In [4]:
# Author: Jianxin
# Data: 2018/06/27
# Function: generate cross table between two numpy array
# Reference Link: https://stackoverflow.com/questions/48456145/generate-transition-matrix 


import numpy as np
import pandas as pd
from sklearn.metrics import cohen_kappa_score


def f_pp(A, B, m):
	#A[np.isnan(A)] = 0
	#B[np.isnan(B)] = 0
	out = np.bincount(np.ravel_multi_index((A, B), (m+1, m+1)).ravel(), minlength=np.square(m+1)).reshape(m+1, m+1)
	out = out[1:,1:]
	row_sum = out.sum(1)
	row_sum = row_sum.reshape((m,1))
	out = np.concatenate((out,row_sum),axis = 1)
	row_sum = out.sum(0)
	row_sum = row_sum.reshape((1,m+1))
	out = np.concatenate((out,row_sum),axis = 0)
	indices = ['cls_'+ str(i) for i in range(1,m+1)]
	indices.append('col_tot')
	#print(indices)
	cols = ['cls_'+ str(i) for i in range(1,m+1)]
	cols.append('row_tot')
	#print(cols)
	out = pd.DataFrame(out,index = indices,columns=cols)
	#out = out.set_index("cls_" + out.index.astype(str))
	return out

def kappa(A_arr,B_arr):
	np.ravel(A_arr)
	np.ravel(B_arr)
	cohen_kappa_score(np.ravel(A_arr), np.ravel(B_arr))



if __name__ == '__main__':
	a = np.array([[3,2,1],[1,2,2],[2,2,1],[1,2,2],[2,2,1]])
	b = np.array([[3,2,1],[1,2,3],[3,2,1],[1,3,3],[3,3,1]])
	result = f_pp(a,b,3)
	print(result)

         cls_1  cls_2  cls_3  row_tot
cls_1        5      0      0        5
cls_2        0      3      6        9
cls_3        0      0      1        1
col_tot      5      3      7       15

In [12]:
result.iloc[0]

cls_1      5
cls_2      0
cls_3      0
row_tot    5
Name: cls_1, dtype: int64

In [13]:
# Author: Jianxin
# Data: 2018/06/27
# Function: generate cross table between two numpy array
# Reference Link: https://stackoverflow.com/questions/48456145/generate-transition-matrix 


import numpy as np
import pandas as pd
from sklearn.metrics import cohen_kappa_score


def f_pp(A, B, m):
	#A[np.isnan(A)] = 0
	#B[np.isnan(B)] = 0
	out = np.bincount(np.ravel_multi_index((A, B), (m+1, m+1)).ravel(), minlength=np.square(m+1)).reshape(m+1, m+1)
	out = out[1:,1:]
	row_sum = out.sum(1)
	row_sum = row_sum.reshape((m,1))
	out = np.concatenate((out,row_sum),axis = 1)
	row_sum = out.sum(0)
	row_sum = row_sum.reshape((1,m+1))
	out = np.concatenate((out,row_sum),axis = 0)
	indices = ['cls_'+ str(i) for i in range(1,m+1)]
	indices.append('col_tot')
	#print(indices)
	cols = ['cls_'+ str(i) for i in range(1,m+1)]
	cols.append('row_tot')
	#print(cols)
	out = pd.DataFrame(out,index = indices,columns=cols)
	#out = out.set_index("cls_" + out.index.astype(str))
	return out

def kappa(A_arr,B_arr):
	np.ravel(A_arr)
	np.ravel(B_arr)
	cohen_kappa_score(np.ravel(A_arr), np.ravel(B_arr))



if __name__ == '__main__':
	a = np.array([[3,2,1],[1,2,2],[2,2,1],[1,2,2],[2,2,1]])
	b = np.array([[3,2,1],[1,2,3],[3,2,1],[1,3,3],[3,3,1]])
	result = f_pp(a,b,3).astype(np.int16)
	print(result)

         cls_1  cls_2  cls_3  row_tot
cls_1        5      0      0        5
cls_2        0      3      6        9
cls_3        0      0      1        1
col_tot      5      3      7       15

In [15]:
result['cls_1']

cls_1      5
cls_2      0
cls_3      0
col_tot    5
Name: cls_1, dtype: int16

In [19]:
test = a[0:3,]

In [20]:
test

array([[3, 2, 1],
       [1, 2, 2],
       [2, 2, 1]])

In [21]:
def gainPattern(arr,duration,m):
	average_gain = []
	for i in range(m):
		totalArea_start_i = np.sum(arr[i,:])
		totalArea_start_not_i = np.sum(arr) - totalArea_start_i
		grossGain_i = np.sum(arr[:,i]) - arr[i,i]
		average_gain_i = (grossGain_i/duration)/totalArea_start_not_i
		average_gain.append(average_gain_i)
	return average_gain

In [22]:
gainPattern(test,2,3)

[0.15, 0.18181818181818182, 0.13636363636363635]

In [23]:
2/11

0.18181818181818182

In [25]:
for i in range(5):
    print(i)

0
1
2
3
4

In [27]:
i

4

In [28]:
for i in range(5):
    print(i)

0
1
2
3
4

In [29]:
def gainPattern(arr,duration,m):
	average_gain = []
	for i in range(m):
		totalArea_start_i = np.sum(arr[i,:])
		totalArea_start_not_i = np.sum(arr) - totalArea_start_i
		grossGain_i = np.sum(arr[:,i]) - arr[i,i]
		average_gain_i = (grossGain_i/duration)/totalArea_start_not_i
		average_gain.append(average_gain_i)
	
	average_loss = []
	for i in range(m):
		totalArea_end_i = np.sum(arr[:,i])
		totalArea_end_not_i = np.sum(arr) - totalArea_end_i
		grossLoss_i = np.sum(arr[i,:]) - arr[i,i]
		average_loss_i = (grossLoss_i/duration)/totalArea_end_not_i
		average_loss.append(average_loss_i)
	return average_gain,average_loss

In [30]:
gainPattern(test,2,3)

([0.15, 0.18181818181818182, 0.13636363636363635],
 [0.15, 0.15, 0.16666666666666666])

1/6

In [31]:
1/6

0.16666666666666666

In [32]:
test

array([[3, 2, 1],
       [1, 2, 2],
       [2, 2, 1]])

In [38]:
test[0,2]

1

In [39]:
def gainPattern(arr,duration,m):
	average_gain = []
	for i in range(m):
		totalArea_start_i = np.sum(arr[i,:])
		totalArea_start_not_i = np.sum(arr) - totalArea_start_i
		grossGain_i = np.sum(arr[:,i]) - arr[i,i]
		average_gain_i = (grossGain_i/duration)/totalArea_start_not_i
		average_gain.append(average_gain_i)
	
	gainIntenMatr = np.zeros((m,m))
	for i in range(m):
		for j in range(m):
			gainIntensity_ji = (arr[j][i]/duration)/np.sum(arr[j,:])
			gainIntenMatr[j][i] = gainIntensity_ji

	average_loss = []
	for i in range(m):
		totalArea_end_i = np.sum(arr[:,i])
		totalArea_end_not_i = np.sum(arr) - totalArea_end_i
		grossLoss_i = np.sum(arr[i,:]) - arr[i,i]
		average_loss_i = (grossLoss_i/duration)/totalArea_end_not_i
		average_loss.append(average_loss_i)
	
	lossIntenMatr = np.zeros((m,m))
	for i in range(m):
		for j in range(m):
			lossIntensity_ij = (arr[i][j]/duration)/np.sum(arr[:,j])
			lossIntenMatr[i][j] = lossIntensity_ij



	return average_gain,gainIntenMatr,average_loss,lossIntenMatr

In [40]:
ptn = gainPattern(test,2,3)

In [41]:
ptn

([0.15, 0.18181818181818182, 0.13636363636363635],
 array([[0.25      , 0.16666667, 0.08333333],
        [0.1       , 0.2       , 0.2       ],
        [0.2       , 0.2       , 0.1       ]]),
 [0.15, 0.15, 0.16666666666666666],
 array([[0.25      , 0.16666667, 0.125     ],
        [0.08333333, 0.16666667, 0.25      ],
        [0.16666667, 0.16666667, 0.125     ]]))

In [42]:
test = np.array([[3, 2, 1],
       [1, 2, 2],
       [2, 2, 1]])

array([[3, 2, 1],
       [1, 2, 2],
       [2, 2, 1]])

In [44]:
ptn[1]

array([[0.25      , 0.16666667, 0.08333333],
       [0.1       , 0.2       , 0.2       ],
       [0.2       , 0.2       , 0.1       ]])

In [45]:
ptn[0]

[0.15, 0.18181818181818182, 0.13636363636363635]

In [47]:
ptn[1][ptn[1] > ptn[0]]=1

In [51]:
ptn[1]

array([[1., 2., 2.],
       [2., 1., 1.],
       [1., 1., 2.]])

In [49]:
ptn[1] > ptn[0]

array([[ True, False, False],
       [False,  True,  True],
       [ True,  True, False]])

In [50]:
ptn[1][ptn[1] < ptn[0]]=2

In [52]:
ptn[3]

array([[0.25      , 0.16666667, 0.125     ],
       [0.08333333, 0.16666667, 0.25      ],
       [0.16666667, 0.16666667, 0.125     ]])

In [53]:
ptn[2]

[0.15, 0.15, 0.16666666666666666]

In [55]:
ptn[3] > np.array(ptn[2]).T

array([[ True,  True, False],
       [False,  True,  True],
       [ True,  True, False]])

In [56]:
def gainPattern(arr,duration,m):       #arr is a m x m numpy array
	average_gain = []
	for i in range(m):
		totalArea_start_i = np.sum(arr[i,:])
		totalArea_start_not_i = np.sum(arr) - totalArea_start_i
		grossGain_i = np.sum(arr[:,i]) - arr[i,i]
		average_gain_i = (grossGain_i/duration)/totalArea_start_not_i
		average_gain.append(average_gain_i)
	
	gainIntenMatr = np.zeros((m,m))
	for i in range(m):
		for j in range(m):
			gainIntensity_ji = (arr[j][i]/duration)/np.sum(arr[j,:])
			gainIntenMatr[j][i] = gainIntensity_ji

	gainIntenMatr[gainIntenMatr > average_gain] = 1
	gainIntenMatr[gainIntenMatr < average_gain] = 2



	average_loss = []
	for i in range(m):
		totalArea_end_i = np.sum(arr[:,i])
		totalArea_end_not_i = np.sum(arr) - totalArea_end_i
		grossLoss_i = np.sum(arr[i,:]) - arr[i,i]
		average_loss_i = (grossLoss_i/duration)/totalArea_end_not_i
		average_loss.append(average_loss_i)
	
	lossIntenMatr = np.zeros((m,m))
	for i in range(m):
		for j in range(m):
			lossIntensity_ij = (arr[i][j]/duration)/np.sum(arr[:,j])
			lossIntenMatr[i][j] = lossIntensity_ij

	lossIntenMatr[lossIntenMatr > np.array(average_loss).T] = 1
	lossIntenMatr[lossIntenMatr < np.array(average_loss).T] = 2

	return average_gain,gainIntenMatr,average_loss,lossIntenMatr

In [57]:
ptn = gainPattern(test,2,3)

In [58]:
ptn

([0.15, 0.18181818181818182, 0.13636363636363635], array([[1., 2., 2.],
        [2., 1., 1.],
        [1., 1., 2.]]), [0.15, 0.15, 0.16666666666666666], array([[1., 1., 2.],
        [2., 1., 1.],
        [1., 1., 2.]]))

In [59]:
def gainPattern(arr,duration,m):       #arr is a m x m numpy array
	average_gain = []
	for i in range(m):
		totalArea_start_i = np.sum(arr[i,:])
		totalArea_start_not_i = np.sum(arr) - totalArea_start_i
		grossGain_i = np.sum(arr[:,i]) - arr[i,i]
		average_gain_i = (grossGain_i/duration)/totalArea_start_not_i
		average_gain.append(average_gain_i)
	
	gainIntenMatr = np.zeros((m,m))
	for i in range(m):
		for j in range(m):
			gainIntensity_ji = (arr[j][i]/duration)/np.sum(arr[j,:])
			gainIntenMatr[j][i] = gainIntensity_ji

	gainIntenMatr[gainIntenMatr > average_gain] = 1
	gainIntenMatr[gainIntenMatr < average_gain] = 2
	np.fill_diagonal(gainIntenMatr,0)
	
	average_loss = []
	for i in range(m):
		totalArea_end_i = np.sum(arr[:,i])
		totalArea_end_not_i = np.sum(arr) - totalArea_end_i
		grossLoss_i = np.sum(arr[i,:]) - arr[i,i]
		average_loss_i = (grossLoss_i/duration)/totalArea_end_not_i
		average_loss.append(average_loss_i)
	
	lossIntenMatr = np.zeros((m,m))
	for i in range(m):
		for j in range(m):
			lossIntensity_ij = (arr[i][j]/duration)/np.sum(arr[:,j])
			lossIntenMatr[i][j] = lossIntensity_ij

	lossIntenMatr[lossIntenMatr > np.array(average_loss).T] = 1
	lossIntenMatr[lossIntenMatr < np.array(average_loss).T] = 2
	np.fill_diagonal(lossIntenMatr,0)
	return average_gain,gainIntenMatr,average_loss,lossIntenMatr

In [60]:
ptn = gainPattern(test,2,3)

In [61]:
ptn

([0.15, 0.18181818181818182, 0.13636363636363635], array([[0., 2., 2.],
        [2., 0., 1.],
        [1., 1., 0.]]), [0.15, 0.15, 0.16666666666666666], array([[0., 1., 2.],
        [2., 0., 1.],
        [1., 1., 0.]]))

In [62]:
ptn[1]

array([[0., 2., 2.],
       [2., 0., 1.],
       [1., 1., 0.]])

In [65]:
test.shape[1]

3

In [66]:
def TransPattern(arr,duration):       #arr is a m x m numpy array
	m = arr.shape[1]
	average_gain = []
	for i in range(m):
		totalArea_start_i = np.sum(arr[i,:])
		totalArea_start_not_i = np.sum(arr) - totalArea_start_i
		grossGain_i = np.sum(arr[:,i]) - arr[i,i]
		average_gain_i = (grossGain_i/duration)/totalArea_start_not_i
		average_gain.append(average_gain_i)
	
	gainIntenMatr = np.zeros((m,m))
	for i in range(m):
		for j in range(m):
			gainIntensity_ji = (arr[j][i]/duration)/np.sum(arr[j,:])
			gainIntenMatr[j][i] = gainIntensity_ji

	gainIntenMatr[gainIntenMatr >= average_gain] = 1
	gainIntenMatr[gainIntenMatr < average_gain] = 2
	np.fill_diagonal(gainIntenMatr,np.nan)
	
	average_loss = []
	for i in range(m):
		totalArea_end_i = np.sum(arr[:,i])
		totalArea_end_not_i = np.sum(arr) - totalArea_end_i
		grossLoss_i = np.sum(arr[i,:]) - arr[i,i]
		average_loss_i = (grossLoss_i/duration)/totalArea_end_not_i
		average_loss.append(average_loss_i)
	
	lossIntenMatr = np.zeros((m,m))
	for i in range(m):
		for j in range(m):
			lossIntensity_ij = (arr[i][j]/duration)/np.sum(arr[:,j])
			lossIntenMatr[i][j] = lossIntensity_ij

	lossIntenMatr[lossIntenMatr >= np.array(average_loss).T] = 1
	lossIntenMatr[lossIntenMatr < np.array(average_loss).T] = 2
	np.fill_diagonal(lossIntenMatr,np.nan)
	return average_gain,gainIntenMatr,average_loss,lossIntenMatr

In [76]:
ptn = TransPattern(test,2)
ptn

([0.15, 0.18181818181818182, 0.13636363636363635], array([[nan,  2.,  2.],
        [ 2., nan,  1.],
        [ 1.,  1., nan]]), [0.15,
  0.15,
  0.16666666666666666], array([[nan,  1.,  2.],
        [ 2., nan,  1.],
        [ 1.,  1., nan]]))

In [69]:
np.fill_diagonal(ptn[1],np.nan)
aaa

In [70]:
ptn[1]

array([[nan,  2.,  2.],
       [ 2., nan,  1.],
       [ 1.,  1., nan]])

In [71]:
ptn[3]

array([[0., 1., 2.],
       [2., 0., 1.],
       [1., 1., 0.]])

In [73]:
np.fill_diagonal(ptn[3],np.nan)

In [74]:
ptn[3]

array([[nan,  1.,  2.],
       [ 2., nan,  1.],
       [ 1.,  1., nan]])

In [86]:
a4 = np.ravel(ptn[3])
a4

array([nan,  1.,  2.,  2., nan,  1.,  1.,  1., nan])

In [85]:
(np.ravel(ptn[3]))

AttributeError: module 'numpy' has no attribute 'dropna'

In [87]:
type(a4)

numpy.ndarray

In [88]:
a4.dropna()

AttributeError: 'numpy.ndarray' object has no attribute 'dropna'

In [91]:
fptn = pd.DataFrame(ptn[1])

In [92]:
fptn

     0    1    2
0  NaN  2.0  2.0
1  2.0  NaN  1.0
2  1.0  1.0  NaN

In [98]:
idx = [['cls_' + str(i) for i in range(1,4)],['gain']*3]

In [96]:
['gain']*3

['gain', 'gain', 'gain']